/*

This is a Tutoralzine Demo 
Original tutorial: A simple AJAX website with jQuery
Tutorial URL: http://tutorialzine.com/2009/09/simple-ajax-website-jquery/

You are free to use the following demo code for any purpose you see fit.

*/

/* Page styles */

body,
h1,
h2,
h3,
p,
td,
quote,
small,
form,
input,
ul,
li,
ol,
label {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-top: 20px;
  color: #51555c;
  font-size: 13px;
  background-color: #ffffff;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

#rounded {
  width: 800px;
  margin: 20px auto;
  text-align: left;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
  border-color: black;
  padding: 10px 20px 20px 20px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: normal;
  font-size: 20px;

  color: #999999;
}

ul {
  margin: 30px 0px;
}

li {
  list-style: none;
  display: block;
  float: left;
  width: 80px;
}

li a,
li a:visited {
  padding: 5px 10px;
  text-align: center;
  background-color: #3b3b3b;
  cursor: pointer;
  color: white;

  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  display: block;
  margin-right: 10px;
}

li a:hover {
  background-color: #a3a3a3;
  text-decoration: none;
}

#loading {
  visibility: hidden;
}

.demo {
  color: white;
}

#tableInfo {
  background-color: #ffffff;
}

#tableInfo {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableInfo td,
#tableInfo th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableInfo tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tableInfo tr:hover {
  background-color: #ddd;
}

#tableInfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ddd;
}

#cruMain {
  display: block;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #485153;
  cursor: pointer;
}
